# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [1]:
List1 = ['a','b','c']
List2 = ['d','e','f']
List3 = List1*3
List3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [2]:
List1 + List2

['a', 'b', 'c', 'd', 'e', 'f']

#### 1.C. Membership:

In [3]:
"a" in List1

True

#### 1.D. Length:

In [5]:
len(List1)

3

#### 1.E. Iteration:

In [6]:
for i in List1:
    print(i, end = ' ')

a b c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [7]:
List1 = [1, 2, 4, 5, 54]
max(List1)

54

#### 2.D. min():

In [8]:
min(List1)

1

#### 2.E.list:

In [11]:
seq = 'redmi'
list(seq)

['r', 'e', 'd', 'm', 'i']

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [19]:
l = ['white','red', 'blue', 'green','blue','yellow', 'black']

In [15]:
l.append('Purple')
l

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'Purple']

#### 3.B) list.clear():

In [17]:
l2 = l.clear()
print(l2)

None

#### 3.C) List.copy()

In [20]:
l2 = l.copy()
l2

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [21]:
l.count('green')

1

#### 3.E) list.extend(seq):

In [22]:
l.extend(['redmi', 'clean'])
l

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'redmi', 'clean']

#### 3.F) list.index(obj):

In [23]:
l.index('green')

3

#### 3.G) list.insert(index, obj):

In [24]:
l.insert(0, 'sweet')
l

['sweet',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'redmi',
 'clean']

#### 3.H) list.pop(obj=list[-1]):

In [26]:
l.pop()

'clean'

#### 3.I) list.remove(obj):

In [28]:
l.remove('redmi')
l

['sweet', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [31]:
l.reverse()
l

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white', 'sweet']

#### 3.K) list.sort([func]):

In [32]:
l.sort()
l

['black', 'blue', 'blue', 'green', 'red', 'sweet', 'white', 'yellow']

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [33]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)

In [34]:
Tuple1*3

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black')

#### 1.B. Concatenation (+):

In [35]:
Tuple1 + Tuple2

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [36]:
'white' in Tuple1

True

#### 1.D) Length:

In [37]:
len(Tuple1)

7

#### 1.E) Iteration:

In [38]:
for i in Tuple1:
    print(i, end= ' ')

white red blue green blue yellow black

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [39]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
max(Tuple1)

8765

#### 2.D) min():

In [40]:
min(Tuple1)

4

#### 2.E) Tuple:

In [41]:
s = 'samuelcolt'
tuple(s)

('s', 'a', 'm', 'u', 'e', 'l', 'c', 'o', 'l', 't')

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [42]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

In [43]:
Set1.union(Set2)

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 876,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

#### 1.B. Intersection

In [44]:
Set1.intersection(Set2)

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [45]:
Set1.difference(Set2)

{1, 3, 54, 56, 436, 9876, 87654, 787654}

####  1.D. Symmetric difference:

In [46]:
Set1.symmetric_difference(Set2)

{1,
 3,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [52]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

In [48]:
len(d)

3

#### 2.B) str(dict):

In [49]:
str(d)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [50]:
type(d)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [51]:
d.clear()
print(d)

{}

#### 2.B) dict.copy():

In [53]:
d1 = d.copy()
d1

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [57]:
x = ('a','b','c')
y = (1)
dict.fromkeys(x,y)

{'a': 1, 'b': 1, 'c': 1}

#### 2.D) dict.get(key[, value]) :

In [59]:
d.get('a')

'alpha'

#### 2.E) dict.items()

In [60]:
d.items()

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [61]:
d.keys()

dict_keys(['a', 'o', 'g'])

#### 2.G) dict.setdefault():

In [64]:

d.setdefault('balloon','great')
d

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'balloon': 'great'}

#### 2.H) dict.update():

In [65]:
d.update({'a': 1, 'b': 1, 'c': 1})
d

{'a': 1, 'o': 'omega', 'g': 'gamma', 'balloon': 'great', 'b': 1, 'c': 1}

 #### 2.L)  dict.values():

In [66]:
d.values()

dict_values([1, 'omega', 'gamma', 'great', 1, 1])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [67]:
a = 10
if a==10:
    print("hello")

hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [69]:
a = 11
if a==10:
    print("hello")
else :
    print("Good Bye")

Good Bye

# While Loop

#### 1. Print Hello World 5 times

In [72]:
i = 1
while i<=5:
    print("Hello World")
    i+=1

Hello World
Hello World
Hello World
Hello World
Hello World

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [76]:
l = [23,1,0,12,45,-1,46]
for i in l:
    print(i,end=' ')

23 1 0 12 45 -1 46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [78]:
l = [1,2,3,4,5,6,7,8]
for i in l:
    if i == 3:
        break
    print(i)

1
2